[Unit]
Description=AnyTLS Client
After=network.target network-online.target
ConditionPathExists=/etc/anytls-client.yml

[Service]
Type=exec
ExecStart=/usr/bin/anytls-client -c /etc/anytls-client.yml
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/run/anytls
RuntimeDirectory=anytls
Restart=on-failure

[Install]
WantedBy=multi-user.target
